<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="in.student.address" id="address" autowire-candidate="false">
<property name="houseno" value="111"></property>
<property name="city" value="jspur"></property>
<property name="pin" value="123456"></property>
</bean>
<bean class="in.student.address" id="address1">
<property name="houseno" value="123"></property>
<property name="city" value="ctc"></property>
<property name="pin" value="123466"></property>
</bean>
<bean class="in.student.college_details" id="cdd" autowire="byType">
<property name="name" value="Swadhin"></property>
<property name="rollno" value="101"></property>
</bean>
</beans>